@tailwind base;
@tailwind components;
@tailwind utilities;



.clipPath {
    clip-path: circle(40%);
}

.swiper-wrapper {
    margin-bottom: 4rem !important;
}

.swiper-pagination-bullet-active {
    background: #FFA337 !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* Custom CSS for Slick slider buttons */
.slick-prev,
.slick-next {
    background-color: #FFA337 !important;
    /* Button background color */
    border-radius: 50%;
    height: 2rem !important;
    width: 2rem !important;
    padding: 1.2rem !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slick-prev {
    left: -50px !important;
}

.slick-next {
    right: -50px !important;
}

.slick-prev:before {
    content: '\f060' !important;
    /* Unicode for Font Awesome user icon */
    font-family: 'Font Awesome 5 Free' !important;
    /* Font Awesome font family */
    font-weight: 900 !important;
    /* Font weight for the icon (900 is typically used for solid icons) */
    font-size: 1.5rem !important;
    /* Size of the icon */
    color: #000 !important;
    /* Color of the icon */
    display: inline-block !important;
    /* Ensure the icon behaves as an inline block */
    opacity: 1 !important;
}

.slick-next:before {
    content: '\f061' !important;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900 !important;
    font-size: 1.5rem !important;
    color: #000 !important;
    display: inline-block !important;
    opacity: 1 !important;
}

/* Add margin between slides */
.slider-container .slick-slide>div {
    margin: 1rem 1rem !important;
    /* Adjust margin as needed */
}

/* Style for all dots (inactive) */
.slick-dots li button::before {
    font-size: 9px !important;
    /* Adjust the size of the dot */
    color: gray !important;
    /* Set the color of inactive dots */
    opacity: 0.5 !important;
    /* Optional: make inactive dots slightly transparent */
}

/* Style for the active dot */
.slick-dots li.slick-active button::before {
    color: #FFA337 !important;
    /* Set the color of the active dot */
    opacity: 1 !important;
    /* Ensure the active dot is fully opaque */
}

.slick-dots li {
    margin: -2rem 0 !important;
}


.slick-disabled {
    cursor: not-allowed !important;
    opacity: .5;
}

.slick-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Media screen for slick slider */
@media screen and (max-width : 639px) {
    .slick-prev {
        left: -13px !important;
    }
    .slick-next {
        right: -13px !important;
    }
}